@using Models.Api

<InputText @bind-Value="@Quiz.Name" />
<ValidationMessage For="@(() => Quiz.Name)" />
<input type="button" class="btn btn-primary" @onclick="@AddQuestion" value="Add question" />
<ValidationMessage For="@(() => Quiz.Questions)" />
@if (Quiz != null)
{
    @foreach (var question in Quiz.Questions)
    {
        <div><EditQuestion RemoveQuestion="@RemoveQuestion" Question="@question" /></div>
    }
}

@code {
    [Parameter]
    public QuizDto Quiz { get; set; }

    public void AddQuestion()
    {
        Quiz.Questions.Add(new QuestionDto { });
    }

    public void RemoveQuestion(QuestionDto question)
    {
        Quiz.Questions.Remove(question);
        base.StateHasChanged();
    }
}
