@using Models.Api

<CardHeader>
    <Field>
        <FieldBody ColumnSize="ColumnSize.Is10">
            <Addons>
                <Addon AddonType="AddonType.Body">
                    <InputText @bind-Value="@Question.Text" class="form-control" placeholder="Question text" />
                </Addon>
                <Addon AddonType="AddonType.End">
                    <Button Clicked="(() => RemoveQuestion(Question))" Color="Color.Danger"><Icon Name="IconName.Delete" /></Button>
                </Addon>
            </Addons>
        </FieldBody>
        <ValidationMessage For="@(() => Question.Text)" />
    </Field>
</CardHeader>
<CardBody>
    @foreach (var option in Question.Options)
    {
        <Field>
            <FieldBody ColumnSize="ColumnSize.Is10">
                <Addons>
                    <Addon AddonType="AddonType.Body">
                        <InputText @bind-Value="@option.Text" class="form-control" placeholder="Option text" />
                    </Addon>
                    <Addon AddonType="AddonType.End">
                        <CheckEdit RadioGroup="@Question.Key.ToString()" @bind-Checked="@option.Answer">Answer</CheckEdit>
                    </Addon>
                    <Addon AddonType="AddonType.End">
                        <Button Clicked="() => RemoveOption(option)" Color="Color.Danger"><Icon Name="IconName.Delete" /></Button>
                    </Addon>
                </Addons>
            </FieldBody>
        </Field>
        <ValidationMessage For="@(() => option.Text)" />
    }
    <Button Clicked="AddOption" Color="Color.Primary"><Icon Name="IconName.New" />Add Option</Button>
    <ValidationMessage For="@(() => Question)" />
</CardBody>
@functions {
    [Parameter]
    public QuestionDto Question { get; set; }

    [Parameter]
    public Action<QuestionDto> RemoveQuestion { get; set; }

    void AddOption()
    {
        Question.Options.Add(new OptionDto());
    }

    void RemoveOption(OptionDto option)
    {
        Question.Options.Remove(option);
    }
}
